*,
*::before,
*::after {
    box-sizing: border-box;
    transition: 0.2s;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

body {
    background-image: url(../images/BG\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    height: 58px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 126px;
    height: 24px;
    margin-right: 20px;
}

.header-right-container {
    display: flex;
    align-items: center;
    margin-right: 79px;
}

.jorney {
    margin-left: 79px;
    /* width: 157px; */
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.welcome {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-left: 27px;
}

.header-line {
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
}

.header:hover .header-line {
    opacity: 0.1;
}

.header svg:hover {
    fill: #3cb878;
}

.header a:hover {
    color: #3cb878;
}

.form {
    width: 444px;
    height: 584px;
    position: absolute;
    left: calc(50% - 444px / 2);
    top: calc(50% - 584px / 2 + 19px);
    background: #ffffff;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.form-wrapper {
    margin: auto;
    width: 324px;
    display: flex;
    flex-direction: column;
}

.form-switcher,
.login-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-switcher {
    margin-top: 31px;
    margin-bottom: 13px;
}

.form-signup {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.form-login {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3cb878;
}

.facebook-login-btn,
.google-login-btn {
    width: 160px;
    height: 48px;
    border-radius: 4px;
    display: flex;
    align-items: center;

    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
}

.facebook-login-btn {
    background: #305db8;
}

.facebook-login-btn:hover {
    background: #022263;
}

.google-login-btn {
    background: #df4a32;
}

.google-login-btn:hover {
    background: #ab1f09;
}

.facebook-login-btn span {
    margin-left: 18px;
}

.google-login-btn span {
    margin-left: 30px;
}

.fb-icon {
    width: 24px;
    height: 24px;
    margin-left: 11px;
    margin-right: 13px;
    display: flex;
    justify-content: center;
}

.google-icon {
    width: 30px;
    height: 19px;
    margin-left: 12px;
    margin-right: 7px;
}

.btn-line {
    width: 1px;
    height: 28px;
    background: #0a162f;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.form input {
    border-radius: 4px;
}

.form-or {
    margin-top: 31px;
    margin-bottom: 12px;
    text-align: center;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}

.form-or::before,
.form-or::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 152px;
    height: 1px;
    background: #f2f2f2;
}

.form-or::before {
    margin-right: 4px;
}

.form-or::after {
    margin-left: 2px;
}

.field {
    width: 324px;
    height: 44px;
    border: 1px solid #f2f2f2;
    padding-left: 20px;
    margin: 0 auto 15px;
}

input:nth-last-of-type(2) {
    margin-bottom: 12px;
}

.field::placeholder {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #bebebe;
}

.field:focus {
    background: #ffffff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
    width: 322px;
}

.checkbox-wrapper {
    display: flex;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;

    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #f2f2f2;
    margin-right: 8px;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox+label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #f2f2f2;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center center;
}

.custom-checkbox:checked+label::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7.5L7 14.5L15 1' stroke='%233CB878' stroke-width='2'/%3E%3C/svg%3E%0A");
}

.custom-checkbox:not(:disabled):checked+label:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7.5L7 14.5L15 1' stroke='%2301813F' stroke-width='2'/%3E%3C/svg%3E");
}

.text-terms {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #434343;
}

.link-terms {
    color: #3cb878;
    margin-left: 3px;
}

.submit-btn {
    margin-top: 20px;
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
}

.submit-btn:hover {
    background: #01813f;
}

.form-signup::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0px;
    background: #3cb878;
}

.form-login:hover {
    text-decoration: underline;
    color: #01813f;
}

.link-terms:hover {
    color: #01813f;
    border-bottom: 1px solid #01813f;
    margin-bottom: -1px;
}